
{{!-- If foriegn post --}}
{{#unless editPriviledges}}
  <div id="{{post.id}}" class="container container-fluid m-3 post bordered">
    <div  class="row generic-cont">
      <div class="col">
        {{post.title}}
      </div>
      <div class="col text-end">
        Posted by {{ post.user.name}} on {{format_date post.date_created}}
      </div>
    </div>
    <div class="row secondary-cont">
      <div class="col">
        {{post.content}}
      </div>
    </div>
  </div>
{{/unless}}
{{!-- If User logged in post this post --}}
{{#if editPriviledges}}
<div id="{{post.id}}" class="container container-fluid m-3 post bordered">
    <div  class="row generic-cont">
      <div class="col">
        Edit Post
      </div>
    </div>
    <div class="row secondary-cont">
      <div class="col">
        <form id="editPost">
          <div class="inputs">
            <input type="text" id="postTitle" />
            <textarea  id="postContent"></textarea>
          </div>
          <div class="buttons">
          <button type="submit">UPDATE</button>
          <button onclick="deletePost()">DELETE</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{{/if}}


{{!-- COMMENT CONTAINER --}}
{{#each comments as |comment|}}
<div id="{{comment.id}}" class="container container-fluid m-3 bordered">
  <div  class="row form-cont">
    <div class="col">
      PLACEHOLDER
    </div>
  </div>
  <div class="row secondary-cont">
    <div class="col">
      {{ content }}
    </div>

  </div>
  <div class="row">
    <div class="col text-end">
     Posted by {{ comment.user.name }} on the {{ format_date date_created }}
    </div>
    
  </div>
</div>
{{/each}}

<div id="" class="container container-fluid m-3 bordered">
  <div  class="row form-cont">
    <div class="col">
      PLACEHOLDER
    </div>
  </div>
  <div class="row secondary-cont">
    <div class="col">
      Comment
       <form id="addComment">
        <input type="text" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
    
    document.addEventListener("DOMContentLoaded", function() {
      const post_id = {{post.id}};
      {{#if editPriviledges}}
      {{!-- THe folllowing code runs if post is published by current user --}}
        document.getElementById("postContent").value = "{{post.content}}";
        document.getElementById("postTitle").value = "{{post.title}}";
         document.getElementById("editPost").addEventListener("submit", (event) => editPost({ event, post_id }));
        {{/if}}
        document.getElementById("addComment").addEventListener("submit", (event) => addComment(event));
       
    });
        
</script>